.container {
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.results {
  margin-top: 2rem;
  border-top: 1px solid #ccc;
  padding-top: 1rem;
}
